#root {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #226d80 1.18%, #26b0d3 100%);
  padding: 20px;
}

.header-image {
  height: 100%;
  margin-right: 8px;
}

.header-title {
  font-size: 1.30rem;
  margin-right: auto;
}

.header-info {
  font-size: 1rem;
  font-weight: 500;
}

.meme {
  padding: 36px;
}

.input-area {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.fetch-image-button {
  grid-column: 1 / -1;

}