#root {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #226d80 1.18%, #26b0d3 100%);
  padding: 20px;
}

.header-image {
  height: 100%;
  margin-right: 8px;
}

.header-title {
  font-size: 1.30rem;
  margin-right: auto;
}

.header-info {
  font-size: 1rem;
  font-weight: 500;
}

main {
  padding: 36px;
}

.meme {
  position: relative;
}

.input-area {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

.input-box {
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  border: 1px solid #26b0d3;
  text-indent: 10px;
}

.fetch-image-button {
  grid-column: 1 / -1;
  background: linear-gradient(90deg, #226d80 1.18%, #26b0d3 100%);
}

.meme-image {
  max-width: 100%;
  border-radius: 3px;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}