#root {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #226d80 1.18%, #26b0d3 100%);
  padding: 20px;
}

.header-image {}